#main-navbar{
	background-color: blue;
	width: 100%;
	position: relative;
}
#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#main-navbar ul li{
	text-decoration: none;
}
#main-navbar ul li a{
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
}
#onpage{
	text-decoration: underline overline;
}

/*float: left;



position: relative;
left: 50%;
float: left;
float: left;
position: relative;
right: 50%;
display: block;
display: block;*/




