#main-navbar{
	background-color: blue;
	width: 100%;
	position: relative;
	display: block;
}
#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;

	right: 50%;
}
#main-navbar ul li{

	left: 50%;
	float: left;
	position: relative;
}
#main-navbar ul li a{
	text-decoration: none;
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	float: left;
	position: relative;
}
#onpage{
	text-decoration: underline overline;
	float: left;
}









*/




